<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="../../public/home/css/cart.css">
    <link rel="stylesheet" href="../../public/home/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="Shortcut Icon" href="../../public/home/ico/mygame-1.ico" type="image/x-icon"/>
</head>
<body>
<div class="nav" id="first">
    <div class="logo">
        <img src="../../public/home/image/mygame-logo.png" height="45" width="35">
    </div>
    <ul>
        <li><a href="#" class="glyphicon glyphicon-home" ></a></li>
        <li><a href="#" class="glyphicon glyphicon-th" ></a></li>
        <li><a href="#" class="glyphicon glyphicon-shopping-cart" ></a></li>
    </ul>
    <div class="nav-2">
        <a href="#">我的订单</a>
        <a>|</a>
        <a id="login">登录</a>
        <a>|</a>
        <a href="#">注销</a>
    </div>
</div>
<div class="tit">
    商店精选>
    <span>购物车</span>
</div>
<div class="kuang">
<section class="cartMain">
    <div class="carttop">
        <h4>共4款内容</h4>
    </div>
    <div class="cartBox">
        <div class="order_content">
            <ul class="order_lists">
                <li class="list_chk">
                    <input type="checkbox" id="checkbox_2" class="son_check">
                    <label for="checkbox_2"></label>
                </li>
                <li class="list_con">
                    <div class="list_img"><a href="javascript:;"><img src="../../public/home/image/shop006.jpg" alt=""></a></div>
                    <div class="list_text">
                        <h2>龙之谷</h2>
                        <div class="list_time">2020-01-03 发售</div>
                    </div>
                </li>

                <li class="list_amount">
                    <div class="amount_box">
                        <input type="text" value="1" class="sum">
                    </div>
                </li>
                <li class="list_sum">
                    <p class="sum_price">￥32</p>
                </li>
                <li class="list_del">
                    <a title="删除"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </li>
            </ul>
            <ul class="order_lists">
                <li class="list_chk">
                    <input type="checkbox" id="checkbox_3" class="son_check">
                    <label for="checkbox_3"></label>
                </li>
                <li class="list_con">
                    <div class="list_img"><a href="javascript:;"><img src="../../public/home/image/shop005.jpg" alt=""></a></div>
                    <div class="list_text">
                        <h2>龙之谷</h2>
                        <div class="list_time">2020-01-03 发售</div></div>
                </li>
                <li class="list_amount">
                    <div class="amount_box">
                        <input  value="1" class="sum">
                    </div>
                </li>
                <li class="list_sum">
                    <p class="sum_price">￥32</p>
                </li>
                <li class="list_del">
                    <a title="删除"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </li>
            </ul>

            <ul class="order_lists">
                <li class="list_chk">
                    <input type="checkbox" id="checkbox_5" class="son_check">
                    <label for="checkbox_5"></label>
                </li>
                <li class="list_con">
                    <div class="list_img"><a href="javascript:;"><img src="../../public/home/image/shop007.jpg" alt=""></a></div>
                    <div class="list_text">
                        <h2>龙之谷</h2>
                        <div class="list_time">2020-01-03 发售</div></div>
                </li>

                <li class="list_amount">
                    <div class="amount_box">

                        <input type="text" value="1" class="sum">

                    </div>
                </li>
                <li class="list_sum">
                    <p class="sum_price">￥32</p>
                </li>
                <li class="list_del">
                    <a title="删除"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </li>
            </ul>
            <ul class="order_lists">
                <li class="list_chk">
                    <input type="checkbox" id="checkbox_4" class="son_check">
                    <label for="checkbox_4"></label>
                </li>
                <li class="list_con">
                    <div class="list_img"><a href="javascript:;"><img src="../../public/home/image/shop008.jpg" alt=""></a></div>
                    <div class="list_text">
                        <h2>龙之谷</h2>
                        <div class="list_time">2020-01-03 发售</div></div>
                </li>

                <li class="list_amount">
                    <div class="amount_box">

                        <input type="text" value="1" class="sum">

                    </div>
                </li>
                <li class="list_sum">
                    <p class="sum_price">￥32</p>
                </li>
                <li class="list_del">
                    <a title="删除"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </li>
            </ul>
            <ul class="order_lists">
                <li class="list_chk">
                    <input type="checkbox" id="" class="son_check">
                    <label for=""></label>
                </li>
                <li class="list_con">
                    <div class="list_img"><a href="javascript:;"><img src="../../public/home/image/shop008.jpg" alt=""></a></div>
                    <div class="list_text">
                        <h2>龙之谷</h2>
                        <div class="list_time">2020-01-03 发售</div></div>
                </li>

                <li class="list_amount">
                    <div class="amount_box">

                        <input type="text" value="1" class="sum">

                    </div>
                </li>
                <li class="list_sum">
                    <p class="sum_price">￥32</p>
                </li>
                <li class="list_del">
                    <a title="删除"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!--底部-->
    <div class="bar-wrapper">
        <div class="bar-left">购买至：<strong >张三</strong></div>
        <div class="bar-right">
            <div class="piece">已选<strong class="piece_num">0</strong>款内容</div>
            <div class="totalMoney">应付总额: <strong class="total_text">￥0</strong></div>
            <div class="calBtn"><a href="javascript:;">确认购买</a></div>
        </div>
    </div>
</section>
</div>

<script src="../../public/home/js/jquery.min.js"></script>
<script src="../../public/home/js/carts.js"></script>

</body>
</html>